<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.mapper.ConstMapper">

    <resultMap id="BaseResultMap" type="com.sd.entity.Const">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type
    </sql>

    <!-- 插入新记录 -->
    <insert id="createConst" parameterType="com.sd.entity.Const">
        insert into const (name, type)
        values (#{name}, #{type})
    </insert>

    <!-- 删除记录 -->
    <delete id="deleteConst" parameterType="int">
        delete
        from const
        where id = #{id};
    </delete>

    <!-- 更新记录 -->
    <update id="updateConst" parameterType="com.sd.entity.Const">
        update const
        set name = #{name},
            type = #{type}
        where id = #{id};
    </update>

    <!-- 查询所有记录 -->
    <select id="findAllConst" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from const;
    </select>
</mapper>
